@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {

    font-family: "Poppins", sans-serif;
}

#body {
    background-image: url("https://images.unsplash.com/photo-1510784722466-f2aa9c52fff6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3570&q=80");
    background-size: auto 120vh;
    background-repeat:repeat;
    display:flex; /* Same again to centre span inside */
    justify-content: center; 
    align-items: center; 
    
}

.startWrapper{
    display:flex; /* Same again to centre span inside */
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

button{
    font-weight: thin;
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 15px;
    background-color: rgb(56,106,122);
}
h1 {
    font-weight: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: 3rem;
    margin-top: 1rem;
}
h2 {
    font-weight: normal;
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
}
input{
    color: rgb(105,102,102);
    font-size: 1rem;
    margin-top: 1rem;
    padding: 20px;
    width: 190px; 
}
.timeWrapper{
  background: rgb(3,65,85,0.5);
  border: 1px solid rgb(255,255,255);
  padding: 30px;
  margin-top: 30px;
  max-height: 300px;
}
.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.big-text {
    font-weight: bold;
    color: white;
    font-size: 6rem;
    line-height: 1;
    margin: 1rem 2rem;
}
.countdown-el {
    text-align: center;
}
.countdown-el span {
    font-size: 1.3rem;
    color: white;
}



.ImgChoiceWrapper{
    display:flex; /* Flex Box */
    justify-content: center; /* Items inside horizontally */
    align-items: center; /* Items inside vertically */
    flex-wrap: wrap;
    max-width: 850px;
    margin: 10px;
    border: 1px solid rgb(29, 87, 90);
    background-color: rgb(3,65,85,0.5);

}

.inner{
    display:flex; /* Same again to centre span inside */
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    min-height: 150px;
    width: 230px;
    margin: 10px;
    border: 5px solid rgb(29, 87, 90);
    background-size: cover;
    cursor: pointer;  
}
#id0{
    
    background-size: cover;
}
#id1{
    

    background-size: cover;
}
#id2{
    

    background-size: cover;
}
#id3{
    

    background-size: cover;
}
#id4{
    

    background-size: cover;
}
#id5{
    

    background-size: cover;
}